/* Styles for the entire document */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #03D29F; /* This is the color for the navigation bar hover effect */
}

body {
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}

/* Styles for the header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #333333;
    padding: 28px 12%;
    transition: background .50s ease; /* Transition only the background */
}

h1.text-center {
    color: #fff;
    margin-top: auto;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
    font-style: oblique;
    font-weight: bold;
}

/* Styles for the navigation bar */
.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: color .50s ease;
    text-decoration: none; /* Add this line to remove underline */
}

.navbar a:hover {
    color: var(--main-color);
    text-decoration: none; /* Add this line to remove underline on hover */
}

.navbar a.active {
    color: var(--main-color);
}

/* Styles for the main content */
.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: color .50s ease;
}

#user-icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 50%;
}

/* Styles for user dropdown */
.user-dropdown {
    position: relative;
    display: inline-block;
}

.user-dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    top: 100%;
}

.user-dropdown:hover .user-dropdown-content {
    display: block;
}

.user-dropdown-content a {
    padding: 12px;
    text-decoration: none;
    display: block;
    color: #333;
    transition: background-color 0.3s ease;
}

.user-dropdown-content:hover {
    background-color: var(--main-color);
    color: #fff;
}

/* Styles for modals */
.modal {
    color: var(--text-color);
}

.modal-content {
    background-color: var(--bg-color);
}

.modal-header {
    border-bottom: 1px solid #ddd;
    background-color: #333333;
    color: var(--text-color);
}

.modal-title {
    color: var(--text-color);
}

.modal-body {
    padding: 20px;
}

th,
tr,
tbody  {
    color: #fff;
}

.content {
    margin: 150px;
    text-align: center;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card {
    position: relative;
    flex: 1;
    max-width: 900px;
    height: 250px;
    margin: 10px;
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card-01 {
    background-color: #03D29F; /* Replace with the color you want */
}

.card-02 {
    background-color: #50A7FF; /* Replace with the color you want */
}

.card-03 {
    background-color: #FF7675; /* Replace with the color you want */
}

.card-04 {
    background-color: #e5eaa0; /* Replace with the color you want */
}

.card-title {
    color: #000000;
    font-family: 'Playfair Display', serif;
    font-style: oblique;
    font-weight: bold; 
    font-size: 1.5rem; /* Adjust the font size as needed */
    line-height: 1.2; /* Adjust the line height as needed for better readability */
}

.card-text {
    font-family: 'Nunito', sans-serif;
    color: black;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.4;
}

#revenueToday,
#totalCapital,
#recentlyAddedProducts,
#recentSales  {
    color: #000000;
}

.logo {
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
}

.logo img {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    border-radius: 50%;
}

.logo i {
    font-size: 24px; /* Adjust the icon size as needed */
    margin-right: 5px; /* Adjust the spacing between icon and text as needed */
}

.logo span {
    vertical-align: middle;
    font-size: 1.7rem;
    font-weight: 600; /* Adjust the font size as needed */
    color: var(--text-color);
    transition: color 0.3s ease; /* Smooth transition for text color change */
}

.logo span:hover {
    color: var(--main-color);
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all 0.50s ease;
    }

    .navbar a.active {
        display: block;
    }

    .card {
        flex: 100%;
        max-width: 600px;
    }
}
